package.json
patches
public
docs
node_modules/
assets/images/kraehenbeisser.svg
resources
content/post/kurische-nehrung/kurische-nehrung*/**
content/post/rossitten/rossitten*/**
static/images/favicon*.*
content/post/*/page*/*
static/images/kraehenbeisser.svg
content/post/*/title/
content/post/*/front/*
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
