[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "kraehenbeisser-redirect"]
	path = kraehenbeisser-redirect
	url = https://github.com/cmahnke/kraehenbeisser-redirect.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
