@import "normalize";
@import "ol";
@import "style";
@import "ol-iiif.scss";

@font-face {
  font-family: 'DS Behrensschrift';
  src: url('/fonts/DSBehrensschrift.otf') format('woff'),
       url('/fonts/DSBehrensschrift.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

/* Fonts downloaded from https://google-webfonts-helper.herokuapp.com/ */
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-sans-v6-latin-regular.woff2') format('woff2'),
       url('/fonts/nunito-sans-v6-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nunito-sans-v6-latin-700.woff') format('woff'),;
}

/* The contents */
body {
    font-family: 'Nunito Sans', sans-serif;
}

strong {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

nav, main {
    width: 80%;
}

h1, h2, h3 {
    font-family: 'DS Behrensschrift';
}

nav img {
    display: inline-block;
    margin: 0 0.1em;
    height: 2em;
    width: auto;
}

img {
    height: auto !important;
}

.card-img-container {
    order: 2;
}
.card-body {
    order: 1;
}

.next-card .card-img {
    width: 100%;
}

@media only screen and (min-width: 40.063em) {
    .card-img-container {
        order: 1;
    }
    .card-body {
        order: 2;
    }

    .next-card .card-img {
        width: unset;
    }

}

.card-img {
    max-height: unset;
}

.card-img-overlay {
    padding: 1em 0.7em;
}

.post-title, .card-title, .list-header-title, .nav-header .nav-text  {
    font-family: 'DS Behrensschrift';
    font-weight: normal;
}

.list-header-title {
    text-transform: capitalize;
}

.nav-header .nav-text {
    text-decoration: none;
    z-index: 105;
    font-size: .8em;
}

.error404 {
    margin: auto;
    width: 95%;

    h1 {
        padding-top: 1em;
        text-decoration: none;
        text-align: center;
        padding-bottom: 2em;
        font-size: xxx-large;

        a {
            text-decoration: none;
        }
    }

    img {
          width: 80%;
          margin: auto;
          border-radius: 55%;
    }

    @media only screen and (min-width: 40.063em) {
        img {
              width: 35%;
        }
    }

}

.post-reference {
    font-size: smaller;
    padding-left: 3em;
    margin-top: 12px;
    margin-bottom: 36px;
}

/* IIIF viewer */
.viewer {
    width: 100%;
    height: 95vh;
}

.leaflet-container {
    background: #fdfdfd !important;
    outline: 0;
}

/* Image ressources in posts */
.image-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2em;

    figure.post {
        display: inline-block;
        width: 40%;

        img {
            display: inline;
            margin-bottom:0.1em;
        }

        figcaption {
            text-align: end;
            font-size: small;
            line-height: normal;

            a {
                text-decoration: none;
            }
        }
    }
}

.content-text {
    &>p:first-of-type::first-letter {
        font-family: 'DS Behrensschrift';
        float: left;
        font-size: 3em;
        line-height: 1;
        margin: .05em .15em -.1em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.5em 0 .6em;
    }

}

.about-img {
    width: 50%;
    margin: auto;
    margin-top: 5em;
    border-radius: 55%;
}

body {
  background: #ecedef url(/images/raben.jpg) repeat;
  background-size: 10%;
}


main.about {
    background-position: 97% 5em;
    background-image: url('/images/cm.svg');
    background-repeat: no-repeat;
}
