@import "normalize";
@import "style";
@import "ol-iiif.scss";
@import "fonts/ds-behrensschrift";
@import "fonts/nunito-sans";

/* The contents */
body {
    font-family: 'Nunito Sans', sans-serif;
}

strong {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

nav, main {
    width: 80%;
}

h1, h2, h3 {
    font-family: 'DS Behrensschrift';
}

nav img {
    display: inline-block;
    margin: 0 0.1em;
    height: 2em;
    width: auto;
}

img {
    /*height: auto !important; */
    height: auto;
}

.card-img-container {
    order: 2;
}
.card-body {
    order: 1;
}

.next-card .card-img {
    width: 100%;
}

@media only screen and (min-width: 40.063em) {
    .card-img-container {
        order: 1;
    }
    .card-body {
        order: 2;
    }

    .next-card .card-img {
        width: unset;
    }

}

.card-img {
    max-height: unset;
}

.card-img-overlay {
    padding: 1em 0.7em;
}

.post-title, .card-title, .list-header-title, .nav-header .nav-text  {
    font-family: 'DS Behrensschrift';
    font-weight: normal;
}

.list-header-title {
    text-transform: capitalize;
}

.nav-header .nav-text {
    text-decoration: none;
    z-index: 105;
    font-size: .8em;
}

.error404 {
    margin: auto;
    width: 95%;

    h1 {
        padding-top: 1em;
        text-decoration: none;
        text-align: center;
        padding-bottom: 2em;
        font-size: xxx-large;

        a {
            text-decoration: none;
        }
    }

    img {
          width: 80%;
          margin: auto;
          border-radius: 55%;
    }

    @media only screen and (min-width: 40.063em) {
        img {
              width: 35%;
        }
    }

}

.post-reference {
    font-size: smaller;
    padding-left: 3em;
    margin-top: 12px;
    margin-bottom: 36px;
}

/* IIIF viewer */
.viewer {
    width: 100%;
    height: 95vh;
}

.leaflet-container {
    background: #fdfdfd !important;
    outline: 0;
}

/* Image ressources in posts */
.image-header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2em;

    figure.post {
        display: inline-block;
        width: 40%;

        img {
            display: inline;
            margin-bottom:0.1em;
        }

        figcaption {
            text-align: end;
            font-size: small;
            line-height: normal;

            a {
                text-decoration: none;
            }
        }
    }
}

.content-text {
    &>p:first-of-type::first-letter {
        font-family: 'DS Behrensschrift';
        float: left;
        font-size: 3em;
        line-height: 1;
        margin: .05em .15em -.1em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.5em 0 .6em;
    }

}

.about-img {
    width: 50%;
    margin: auto;
    margin-top: 5em;
    border-radius: 55%;
}

body {
  background: #ecedef url(/images/raben.jpg) repeat;
  background-size: 10%;
}


main.about {
    background-position: 97% 5em;
    background-image: url('/images/cm.svg');
    background-repeat: no-repeat;
}

.footer {
    width: 30%;
    margin: 3.5em auto 0;
    background-color: #fafafa;
    text-align: center;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    margin-top: .8em;
    font-size: x-small;
    border-radius: .2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
        min-width: fit-content;

    transition: transform 0.2s cubic-bezier(0.25,0.8,0.25,1), box-shadow 0.2s cubic-bezier(0.25,0.8,0.25,1);
    box-shadow: 0 0.7rem 1.4rem 0 rgba(0,0,0,0.25), 0 0.5rem 0.5rem 0 rgba(0,0,0,0.22);

    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        margin: auto;

        &.projektemacher {

            img {
                height: 16px;
                width: 16px;
                margin-left: .5rem;
                vertical-align: middle;
                display: inline;
                margin: .5em;
            }
        }

    }

}

/* For IIIF */

.share {
    text-align: end;
    font-size: small;
    line-height: normal;
    margin-top: 1em;
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
    }
}
