<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="single-body">
    {{ partial "nav-bar.html" . }}
    <main class="content side-text-padding">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
        <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
        </header>
        {{ with .Resources.GetMatch "featuredImage" -}}
        <div class="image-header">
        <figure class="post front">
          {{ with $.Resources.GetMatch (replace (.Title) (path.Ext (.Title)) ".webp") -}}
          <source srcset="{{ .Permalink }}" type="image/webp">
          {{- end }}
          {{ $featured := .Resize "400x Lanczos" }}
          <source srcset="{{ $featured.Permalink }}">
          <img src="{{ $featured.Permalink }}" {{ with .Params.description -}} alt="{{ . }}" {{- end }}>
          <figcaption><a href="{{.Permalink}}">Download</a> full resolution image</figcaption>
        </figure>
        {{- end }}
        {{ with .Resources.GetMatch "titleImage" -}}
        <figure class="post title">
          {{ with $.Resources.GetMatch (replace (.Title) (path.Ext (.Title)) ".webp") -}}
          <source srcset="{{ .Permalink }}" type="image/webp">
          {{- end }}
          {{ $title := .Resize "400x Lanczos" }}
          <source srcset="{{ $title.Permalink }}">
          <img src="{{ $title.Permalink }}" {{ with .Params.description -}} alt="{{ . }}" {{- end }}>
          <figcaption><a href="{{.Permalink}}">Download</a> full resolution image</figcaption>
        </figure>
        </div>
        {{- end }}
        <p class="post-reference">{{ .Description }}</p>
        {{ if .Params.toc -}}
          <h2>Contents</h2>
          {{ .TableOfContents }}
        {{- end }}
        {{ .Content }}
      </article>
      {{ template "_internal/disqus.html" . }}
    </main>
    <nav class="end-nav side-padding">
      {{ with .PrevInSection }}
      {{ .Render "li-next" }}
      {{ end }}
    </nav>
    {{ partial "scripts.html" . }}
  </body>
</html>
