@font-face {
  font-family: 'DS Behrensschrift';
  src: url('../font/DSBehrensschrift.otf') format('woff'),
       url('../font/DSBehrensschrift.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
