@font-face {
  font-family: 'DS Behrensschrift';
  src: url('../font/DS Behrensschrift.otf') format('woff'),
       url('../font/DS Behrensschrift.ttf')  format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

nav, main {
    width: 80%;
}

h1, h2, h3 {
    font-family: 'DS Behrensschrift';
}

.nav-header .nav-text {
    font-family: 'DS Behrensschrift';
    font-weight: normal;
    text-decoration: none;
    z-index: 105;
    font-size: .8em;
}

.post-title {
    font-family: 'DS Behrensschrift';
    font-weight: normal;
}

.card-title {
    font-family: 'DS Behrensschrift';
    font-weight: normal;
}

.list-header-title {
    font-family: 'DS Behrensschrift';
    font-weight: 500;
    text-transform: capitalize;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}
