{{ with .Page.Resources.Match "iiif-manifest-*" }}
  {{ range . }}
    <div id="{{ .Name }}" class="viewer"></div>
    <script type="text/javascript">
      {{ $mapName := replace .Name "-" "_" }}
      {{ $mapName | safeJS }} = L.map('{{ .Name }}', {
              center: [0, 0],
              crs: L.CRS.Simple,
              zoom: 1,
              attributionControl:false,
              minZoom: 1,
              maxZoom: 6,
              fullscreenControl: true,
              fullscreenControlOptions: {
                title: 'Starte Vollbildansicht',
                titleCancel: 'Vollbildansicht verlassen'
              }
            });
      var {{ $mapName | safeJS -}}_layer = L.tileLayer.iiif("{{ .RelPermalink }}", {tileSize: 512, fitBounds: true, setMaxBounds: true}).addTo({{ $mapName | safeJS }});
    </script>
    <br/>
  {{ end }}
{{ end }}
