{{- $context := .context -}}
{{- $width := .width -}}
{{- $height := .height -}}


{{- $previewImg := "" -}}
{{- $images := newScratch -}}
{{- if isset .context.Site.Params "preview" -}}
    {{- $previewImgName := $context.Site.Params.preview.outputPrefix -}}
    {{- if ne $context.Sites.First .context.Site -}}
        {{- $previewImgName = printf "%s.%s%s" $previewImgName $context.Site.Language.Lang $context.Site.Params.preview.outputSuffix -}}
    {{- else -}}
        {{- $previewImgName = printf "%s%s" $previewImgName $context.Site.Params.preview.outputSuffix -}}
    {{- end -}}
    {{- $overlayImg := ($context.Resources.ByType "image").GetMatch $previewImgName -}}

    {{- range $context.Params.resources -}}
        {{- if isset . "params" -}}
            {{- if eq .params.preview true -}}
                {{- $tmpImg := $context.Resources.GetMatch .src -}}
                {{- if isset .params "rotate" -}}
                    {{- $tmpImg = $tmpImg.Resize (printf "%dx r%d" $tmpImg.Width (add 180 .params.rotate)) -}}
                {{- end -}}
                {{- $tmpImg = $tmpImg.Fill (printf "%dx%d smart" $width $height) -}}

                {{- $images.Set "preview" $tmpImg -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- $background := $images.Get "preview" -}}

    {{- if ne $background nil -}}
        {{- $overlayFilter := images.Overlay $overlayImg 1 1 -}}
        {{- $previewImg = ($background | images.Filter $overlayFilter) -}}
    {{- end -}}
{{- end -}}

{{- return $previewImg -}}
