<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="error404body">
    {{ partial "nav-bar.html" . }}
    <main id="main">
      <div class="error404">
       <h1>
           <a href="{{ "/" | relURL }}">404 Seite nicht gefunden!</a>
       </h1>
      {{ if .Site.Params.errorimg -}}
          {{ with resources.Get .Site.Params.errorimg -}}
            <img src="{{ .Permalink }}" alt="Diese Seite hat der Krähenbeißer gebissen!"/>
          {{- end }}
      {{- end }}
    </main>
    {{ partial "scripts.html" . }}
  </body>
</html>
