name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7.8
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install iiif
      - name: Generate Tiles
        run: |
          cd static/images
          iiif_static.py -d ../iiif rossitten-33.jpeg rossitten-34.jpeg
          iiif_static.py  -d ../iiif kurische-nehrung-58.jpeg kurische-nehrung-59.jpeg kurische-nehrung-60.jpeg

      - name: Use Node.js 10.22.0
        uses: actions/setup-node@v1
        with:
          node-version: 10.22.0
      - name: Install dependencies
        run: |
          yarn install
          yarn run svgo

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.3'
          extended: true
      - name: Build
        run: hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
